.hero
  .hero-inner.container
    .row
      .col-md-12.header
        %h1
          Betalsida
          %p.btn-container
            %a{ href: '/payment' } Betala
.container
  .row
    %p Teting...
  .row
    %footer
      %p My footer
      %p
        &copy; 2015 Acacia Labs Ab - Makers Academy Sweden.
        %a{ href: '#' } Kontakt...


